@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model iis.Pages.VeterinaryRecords.IndexModel

@{
    ViewData["Title"] = "VeterinaryRecords";
}

<form method="post">
<div class=row>
	<div class=col-sm-8>
		<h1>Veterinary Records</h1>
	</div>
	@if (User.IsInRole("Caretaker"))
	{
		<div class=col-sm-4 align=right>

					@Html.AntiForgeryToken()
					<button type="submit" asp-page-handler="Create">Create New</button>
		</div>
	}
	</div>


    <div class="form-group row" style="float:left">
        <label for="search" class="col-sm-auto col-lg-auto col-form-label font-weight-bold">Search Animal name</label>
        <input class="form-control" id="search" style="width:40%" />

    </div>
</form>

<div id="data">
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col" id="animalname" class="btn-primary">
                    @Html.DisplayNameFor(model => model.VeterinaryRecords[0].Animal.Name)
                </th>
                <th scope="col" id="date" class="btn-primary">
                    @Html.DisplayNameFor(model => model.VeterinaryRecords[0].Date)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.VeterinaryRecords[0].Weight)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.VeterinaryRecords[0].Details)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.VeterinaryRecords.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.VeterinaryRecords[i].Animal.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.VeterinaryRecords[i].Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.VeterinaryRecords[i].Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.VeterinaryRecords[i].Details)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Vet"))
                        {
                            <a asp-page="./Edit" asp-route-id="@Model.VeterinaryRecords[i].Id">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@Model.VeterinaryRecords[i].Id">Delete</a>
                        }
                        <a asp-page="./Details" asp-route-id="@Model.VeterinaryRecords[i].Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var order = 0;
        var selectedDelete = 0;

        const updateFlags = function () {
            window.history.pushState('Users', '', '?search=' + document.getElementById('search').value + "&order=" + order);
            $('#data').load(location.href + " #data");
        };

        $('#search').on('input', updateFlags);

        $(document).on('click', '#animalname', () => {
            order = order == 1 ? -1 : 1;
            updateFlags();
        });

        $(document).on('click', '#date', () => {
            order = order == 2 ? -2 : 2;
            updateFlags();
        });

    </script>
}
