@page
@model iis.Pages.VeterinaryRecords.IndexModel

@{
    ViewData["Title"] = "VeterinaryRecords";
}

@section Scripts {
	<script type="text/javascript">
	var order = "Date";
	const  updateFlag = function() {
		window.history.pushState('VeterinaryRecords','', '?SearchString='+
		document.getElementById('search').value + "&sortOrder=" + order);
		alert("here");
		$('#data').load(location.href + "#data");
	};

	$('#search').on('input', updateFlag);
</script>
}

<div class=row>
	<div class=col-sm-8>
		<h1>Veterinary Records</h1>
	</div>
	@if (User.IsInRole("Caretaker"))
	{
		<div class=col-sm-4 align=right>
			<p>
				<form method="post">
					@Html.AntiForgeryToken()
					<button type="submit" asp-page-handler="Create">Create New</button>
				</form>
			</p>
		</div>
	}
</div>


<form asp-page="./Index" method="get">
    <div class="form-actions">
        <p>
            Find by name:
            <input id="search" type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<div id="data">
<table class="table">
	<thead>
	<tr>
		<th>
			<a asp-page="./Index" asp-route-sortOrder="@Model.AnimalNameSort">
				@Html.DisplayNameFor(model => model.VeterinaryRecords[0].Animal.Name)
			</a>
		</th>
		<th>
			<a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
				@Html.DisplayNameFor(model => model.VeterinaryRecords[0].Date)
			</a>
		</th>
		<th>
			@Html.DisplayNameFor(model => model.VeterinaryRecords[0].Weight)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.VeterinaryRecords[0].Details)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model.VeterinaryRecords)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Animal.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@if (item.Weight > 0.0)
				{
						@Html.DisplayFor(modelItem => item.Weight)
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Details)
			</td>
			<td>
				@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Caretaker") || User.IsInRole("Vet")))
				{
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				}
				<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
			</td>
		</tr>
	}
	</tbody>
</table>
</div>
