@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model iis.Pages.Users.IndexModel

@{
	ViewData["Title"] = "Index";
}

<div class=row>
	<div class=col-sm-8>
		<h1>List of users</h1>
	</div>
	<div class=col-sm-4 align=right>
		<p>
			<form method="post">
				@Html.AntiForgeryToken()
				<button type="submit" asp-page-handler="Create">Create New</button>
			</form>
		</p>
	</div>
</div>

<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Users[0].Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Users[0].UserName)
		</th>
		<th>
			Roles
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Users[0].Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Users[0].Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Users.Count; i++)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Users[i].Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Users[i].UserName)
				</td>
				<td>
					@Html.DisplayFor(model => Model.Roles[i])
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Users[i].Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Users[i].Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Users[i].PhoneNumber)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@Model.Users[i].Id">Edit</a>
					<a asp-page="./Delete" asp-route-id="@Model.Users[i].Id">Delete</a>
					<a asp-page="./Details" asp-route-id="@Model.Users[i].Id">Details</a>
				</td>
			</tr>
		}
	
	</tbody>
</table>