@page
@model iis.Pages.Occupations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class=row>
    <div class=col-sm-8>
        <h1>Users registered in the system</h1>
    </div>
    <div class=col-sm-4 align=right>
        <p>
            <form method="post">
                @Html.AntiForgeryToken()
                <button type="submit" asp-page-handler="Create">Create User</button>
            </form>
        </p>
    </div>
</div>
<h2 class=mt-3>
    Admin-level users
</h2>
<th />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Permissions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Pay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Occupation)
        {
            @if (item.Permissions == 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        Admin
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pay)
                    </td>
                    <td align=right>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2 class=mt-3>
    Worker-level users
</h2>
<th />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Permissions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Pay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Occupation)
        {
            @if (item.Permissions == 2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        Worker
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pay)
                    </td>
                    <td align=right>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2 class=mt-3>
    Volunteer-level users
</h2>
<th />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Permissions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].Pay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Occupation)
        {
            @if (item.Permissions == 3)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        Volunteer
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pay)
                    </td>
                    <td align=right>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>