@page "{id:int}"
@model iis.Pages.Walks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Walk</h4>
    <hr />
    <dl class="row">
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.AnimalId)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.AnimalId)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.VolunteerId)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.VolunteerId)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.StartTime)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.StartTime)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.FinishTime)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.FinishTime)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.State)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.State)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Walk.Comment)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Walk.Comment)
	    </dd>
    </dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.Walk.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
