@page
@model iis.Pages.Walks.IndexModel

@{
    ViewData["Title"] = "Walks";
}

<h1>Take our animals for walk!</h1>

<p>
    <a asp-page="Create">Create walk</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Walk[0].AnimalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk[0].VolunteerId)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StartTimeSort">
                    @Html.DisplayNameFor(model => model.Walk[0].StartTime)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk[0].FinishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Walk)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.AnimalId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.VolunteerId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
